h1{
    color: #daa520;
}

/* Psudo classes example*/

a:link{
    color: red;
    font-size: larger;
    text-decoration: none;
}

a:visited{
    color: green;
    font-family: arial;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: yellow;
}